@font-face{
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../fonts/AnyConv.com__Roboto-Regular.woff2) format('woff2'),
       url(../fonts/AnyConv.com__Roboto-Regular.woff) format('woff');
}
%roboto{
  font-family: "Roboto";
  font-weight: 400;
}
@font-face{
  font-family: 'Roboto-Medium';
  font-weight: 500;
  src: url(../fonts/AnyConv.com__Roboto-Regular.woff2) format('woff2'),
       url(../fonts/Roboto-Medium.woff) format('woff');
}
%robotoMedium{
  font-family: "Roboto-Medium";
  font-weight: 500;
}

@font-face{
  font-family: 'PTserif';
  font-weight: 400;
  src: url(../fonts/PTSerif-Regular.woff2) format('woff2'),
       url(../fonts/PTSerif-Regular.woff) format('woff');
}
%serif{
  font-family: "PTserif";
  font-weight: 400;
}